<html>
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
<%- include ('blocks/header.ejs') -%>
<div class="block">
    <p>Ошибка </p>
    <p> <%= message %></p>
</div>
</body>
</html>
