<html>
<head>
    <meta charset="UTF-8">
    <title>Сервис складов</title>
</head>
<body>
<%- include ('blocks/header.ejs') -%>
<div class="block">
    <h1>Главная страница </h1>
    <p>Сайт на NODE JS</p>
</div>
</body>
</html>
